* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-container {
    position: relative; /* Relative positioning for child elements */
}

.main-container {
    width: 100%; /* Full width */
    max-width: 500px; /* Limit maximum width */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}
